.play_text {
    color:blue;
}

.amateur_text{
    color:#a6cee3;
}

.lord_text{
    color:#b2df8a;
}

.king_text{
    color:#fb9a99;
}



h1 {
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: xx-large;
}

h2 {
    font-family: 'Cardo', serif;
    font-size:larger;
}

p {
    font-family: 'Oswald', sans-serif;
}